@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary: #000322;
  --secondary: #508c9b;
  --tertiary: #4bedff;
  --accent: #eeeeee;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary);
}

/* -------------------------
NAVBAR
--------------------------- */

nav {
  background-color: #0d0d11;
  position: fixed;
  left: 0;
  height: 100vh;
  padding: 10px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

nav .top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

nav .top img {
  width: 34px;
}

nav .middle,
nav .bottom {
  display: flex;
  flex-direction: column;
}

nav .middle img {
  width: 35px;
}

nav .middle img,
nav .bottom img {
  margin-bottom: 10px;
  transition: 0.3s;
}

nav .middle img:hover,
nav .bottom img:hover {
  transform: scale(1.1);
}

nav .bottom img {
  width: 25px;
  margin-bottom: 10px;
}

/* -------------------------
HOME
--------------------------- */

#home.main {
  height: 100vh;
  background-image: url(./assets/wave-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: darken;
}

.home-section,
.about-section,
.skills-section,
.contact-section,
.project-section,
.suggestions-section {
  padding: 50px 0 0 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tags {
  font-family: "La Belle Aurore", sans-serif;
  color: var(--secondary);
  font-size: 20px;
}

.top-tags {
  position: absolute;
  top: 50px;
  left: 115px;
}

.bottom-tags {
  position: absolute;
  bottom: 0;
  left: 90px;
}

.title {
  font-family: "Poppins", sans-serif;
  color: var(--accent);
  font-size: 68px;
  line-height: 78px;
}

.title::before {
  content: "<h1>";
  position: absolute;
  margin-top: -40px;
  font-family: "La Belle Aurore", sans-serif;
  color: var(--secondary);
  font-size: 20px;
  font-weight: 400;
}

.title::after {
  content: "</h1>";
  position: absolute;
  font-family: "La Belle Aurore", sans-serif;
  color: var(--secondary);
  font-size: 20px;
  font-weight: 400;
  margin-top: 18px;
  margin-left: 20px;
}

.home-section .highlight {
  color: var(--tertiary);
}

.home-section .subtitle {
  font-family: "Open Sans", sans-serif;
  color: #7e7e7e;
  letter-spacing: 3px;
  margin-top: 15px;
}

.home-section .bottom-btn {
  margin-top: 20px;
}

.home-section .contact-btn {
  border: 1px solid var(--tertiary);
  background-color: transparent;
  color: var(--tertiary);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 10px 20px;
  transition: 0.3s;
  border-radius: 5px;
}

.home-section .contact-btn:hover {
  cursor: pointer;
  background-color: var(--tertiary);
  color: #0d0d11;
}

#home .right-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

/* -------------------------
ABOUT
--------------------------- */

#about.main {
  height: 100vh;
  background-image: url(./assets/bg-whitelines.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: darken;
}

.about-section {
  width: 50%;
}

.about-section p {
  font-family: "Poppins", sans-serif;
  color: #666666;
  text-align: justify;
}

/* -------------------------
SKILLS
--------------------------- */

#skills.main {
  background-image: url(./assets/bg-skills.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.skills-section {
  width: 50%;
}

.skills-container {
  border-radius: 30px;
  padding: 50px 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px 100px;
  flex-wrap: wrap;
}

.skills-container img {
  width: 70px;
  transition: 0.3s;
}

.skills-container img:hover {
  transform: translateY(-10px);
}

/* -------------------------
PROJECTS
--------------------------- */

#project.main {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}

.project-container {
  width: 90%;
  display: flex;
  gap: 20px 30px;
  margin-top: 20px;
}

.single-project {
  background: #0e1237;
  width: 30%;
  border-radius: 10px;
  padding: 20px;
  transition: 0.3s;
}

.single-project:hover {
  transform: translateY(-10px);
}

.single-project .img-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.single-project img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  transition: filter 0.3s ease;
}

.single-project:hover img {
  filter: blur(4px);
}

.single-project h2,
.single-project p {
  color: var(--accent);
  font-family: "Poppins", sans-serif;
}

.single-project p {
  font-size: 14px;
}

.single-project h2 {
  margin-top: 10px;
  font-size: 22px;
  margin-bottom: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 10px;
}

.single-project:hover .overlay {
  opacity: 1;
}

.view-button {
  border: 2px solid var(--tertiary);
  background-color: transparent;
  color: var(--tertiary);
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 10px 20px;
  transition: 0.3s;
  border-radius: 5px;
  text-decoration: none;
}

.view-button:hover {
  cursor: pointer;
  background-color: var(--tertiary);
  color: #0d0d11;
}

/* -------------------------
SUGERENCIAS
--------------------------- */

#suggestions.main {
  /* background-image: url(./assets/full-bg.png); */
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.suggestions-section .subtitle {
  color: var(--accent);
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
}

.suggestions-section .container {
  display: flex;
}

#suggestions-box {
  margin-left: 50px;
  margin-top: 10px;
  max-height: 300px;
  overflow-y: auto;
  width: 50%;
  padding: 0 5px 0 0;
}

.comments-title {
  font-size: 20px;
  color: var(--accent);
  font-family: "Open Sans", sans-serif;
}

#suggestions-box::-webkit-scrollbar {
  width: 8px;
}

#suggestions-box::-webkit-scrollbar-track {
  background: transparent;
}

#suggestions-box::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
}

#suggestions-box::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

#suggestions-box .suggestion-entry {
  color: var(--accent);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding: 20px;
  background-color: #0e1237;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
}

.suggestion-entry img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

/* -------------------------
CONTACT
--------------------------- */

#contact.main {
  height: 100vh;
  background-image: url(./assets/blue-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.form-container {
  width: 500px;
}

.form-container form {
  gap: 10px;
}

.form-container form label {
  font-family: "Poppins", sans-serif;
  color: #9e9e9e;
  font-weight: 600;
}

.form-container form .first-row {
  display: flex;
  justify-content: space-between;
}

.form-container form .first-row input:first-child {
  margin-right: 10px;
}

.form-container form input,
.form-container form textarea {
  width: 100%;
  margin: 10px 0;
  background-color: #0e1237;
  border: none;
  padding: 10px;
  color: white;
  font-family: "Open sans", sans-serif;
  font-size: 14px;
  border-radius: 5px;
}

.form-container form button {
  border: 1px solid var(--tertiary);
  background-color: transparent;
  color: var(--tertiary);
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 10px 20px;
  transition: 0.3s;
  border-radius: 5px;
}

.form-container form button:hover {
  cursor: pointer;
  background-color: var(--tertiary);
  color: #0d0d11;
}
